package ${basePackage}.model.vo;

import java.io.Serializable;
import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.Setter;

/**
* @author ${author}
* @createTime ${datetime}
* @className ${model}VO
* @package ${basePackage}.model.vo
*/

@Getter
@Setter
@EqualsAndHashCode(callSuper = false)
public class ${model}VO implements Serializable  {

    private static final long serialVersionUID = 1L;
    // TODO 查询参数

}